*{
    margin: 0;
    padding:0;
    box-sizing: border-box;    
}
html{
    font-family: 'Roboto', sans-serif;
}
:root {
    --darkgrey: #36393E;
    --indaco: #7983F5;
    --white: #ffffff;
    --lightgrey: #f6f6f6;
}
/* HEADER INI */
header{
    width: 100%;
    background-color: #255EE8;
}
.headercontainer{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}

.bar-nav{
    list-style: none;
    min-width: 500px;
    display: flex;
}    
.bar-nav li{
    padding: 0 20px;
    text-decoration: none;
}
a{
    color: var(--white);
    text-decoration: none;
}
/* HEADER END */
/* BUTTON INI*/
.btn{
   background-color: var(--white);
   padding: 10px 20px;
   border-radius: 20px; 
   color: var(--darkgrey);
   text-decoration: none;
}
.grey{
    background-color: var(--darkgrey);
    color: var(--white);
}
.lilla{
    background-color: var(--indaco);
}
/* BUTTON END */
/* JUMBO INI */ 
.container-top{
    width: 100%;
    background-image: url('../img/jumbo.png');
    height: 467px;
    background-size: cover;
}
.inner-top{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
.inner-top p{
    color: var(--white);
    font-size: 20px;
    padding-bottom: 20px;
}
.inner-top h1{
    color: var(--white);
    padding-top: 95px;
    padding-bottom: 30px;
    font-size: 50px;
}
.inner-top a{
    display: inline-block;
    margin-left: 20px;
}

/* JUMBO END*/
/* MAIN INI*/

.section{
    width: 100%;
    padding: 50px 0px;
}
.box-left{
    width: 80%;
    margin:0 auto;
    display: flex;
    align-items: center;
}
.wavesvg{
    color:var(--lightgrey);
    display: block;
    margin-bottom: -310px;
}
.wavesvg-last{
    color:var(--lightgrey);
    display: block;
    margin-bottom: -10px;
}
.reverse-wavesvg{
    color:var(--lightgrey);
    display: block;
    margin-top: -55px;
    transform: rotate(180deg);
}
.box-left h2{
    font-size: 50px;
    padding-bottom: 30px;
}
.box-left p{
    font-size: 20px;
}
.left{
    flex-basis: 30%;
}
.box-right{
    width: 80%;
    margin:0 auto;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.box-right h2{
    font-size: 50px;
    padding-bottom: 30px;
}
.box-right p{
    font-size: 20px;
}
.right{
    flex-basis: 30%;
}
.margin-50{
    margin-top: 50px;
}
.margin{
    margin-top: 300px;
}
.bg-grey{
    background-color: var(--lightgrey);
}
.lastmainsection{
    width: 100%;
    padding: 50px 0px;
    text-align: center;
}
.box-center{
    width: 70%;
    margin: 0 auto;
}
.box-center h2{
    font-size: 50px;
    padding-bottom: 20px;
}
.box-center p{
    font-size: 20px;
}
#star{
    width: 400px;
}
h3{
    font-size: 25px;
    padding-bottom: 50px;
    
}
.box-center a{
    margin-bottom: 100px;
}
/* END MAIN */
/* FOOTER */
footer{
    width: 100%;
    background-color:var(--darkgrey);
    min-height: 100px;
}
li img{
    width: 30px;
}
li{
    color: var(--white);
    padding: 5px 0;
}
.flexcontainer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    

}
ul{
    list-style: none;
}
hr{
    width: 80%;
    margin: 20px auto;   
    border: 1px solid var(--indaco) ;
    background-color: var(--indaco);
}
.endflex{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    
}
li h4{
    color: var(--indaco);
}
li h3{
    color: var(--indaco);
    padding-bottom: 10px;
}

li a:hover{
    background-color: var(--white);
    color: var(--darkgrey);
}


/* PAGINA "-DONWLOAD DISCORD */

:root{
    --grey:#23282B;
    --white:#ffffff;
    --lightgrey:#F6F6F6;
}
#download header{
    background-color: var(--grey);
}#download .headercontainer{
    background-color: var(--grey);
}
#download .jumbo-container{
    background-image: none;

}
#download .inner-jumbo{
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 1170px;
    padding-top: 143px;

}
#download .inner-jumbo a{
    margin-left: 0;
}
#download .inner-jumbo h1{
    padding: 0;
    padding-bottom: 40px;
}
#download .inner-jumbo p{
    
    padding-bottom: 40px;
}
#download  .inner-jumbo .btn{
    padding: 20px 40px;
    border-radius: 40px;
    font-size: 20px;
}
#download .inner-jumbo span{
    padding-left: 22px;
    color: var(--white);
}
#download main{
    width: 1170px;
    margin: 0 auto;
}
.container-flex-download{
    display: flex;
    flex-basis: 50%;
}
#download .box{
    background-color: var(--lightgrey);
    height: 600px;
    overflow: hidden;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 15px;
      
}
#download .box-text{
    background-color: var(--lightgrey);
    min-height: 200px;
    overflow: hidden;
    padding: 40px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
      
}
.btn-download{
    background-color: var(--grey);
    padding: 16px 32px;
    border-radius: 30px; 
    color: var(--bianco);
    text-align: center;
    text-decoration: none;
    
 }
 .testo-card{
    padding-bottom: 50px;
    
 }
 .testo-card h2{
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
 }
 .testo-card p{
    margin-bottom: 30px;
 }
 .flex-uno{
    margin-top: 120px;
    margin-bottom: 120px;
 }
 .flex-due{
    margin-left: 20px;
    margin-top:300px;
    margin-bottom: 250px;
 }